/*---------------------------------------------------------------------------------
Author:      Jesslyn Bui 
Project-15:  Grace Shopper - eCommerce  
----------------------------------------------------------------------------------*/

.page { 
  margin: 0 50px; 
  display: grid; 
  grid-template-columns: 25% 25% 25% 25%; 
} 
