/*---------------------------------------------------------------------------------
Author:      Jesslyn Bui 
Project-15:  Grace Shopper - eCommerce  
----------------------------------------------------------------------------------*/ 

@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans&display=swap');

/*---main---*/

.checkoutpage { 
  margin: 0 50px; 
  display: grid; 
  grid-template-columns: 50% 50%; 
  /* box-sizing: border-box; */
} 

.loginpage { 
  grid-column: 1; 
  /* margin: 0 auto; 
  display: table;  */
} 

.guestpage { 
  grid-column: 2; 
  margin: 0 auto; 
} 

.logmsg { 
  margin-bottom: 20px; 
  display: table; 
  vertical-align: middle; 
  color: blue; 
} 

.msg .error {
  text-align: center;
  font-family: 'Courier New', Courier, monospace;
  font-weight: normal;
  color: darkblue;
} 

.error {
  color: red; 
} 

/*---div---*/

fieldset { 
  margin-top: 30px; 
  display: block;
  border: none; 
} 

.inputset { 
  display: block;
  margin-left: 2px;
  margin-right: 2px;
  padding-bottom: 0.625em;
  padding-right: 0.75em;
} 

input {
  padding: 5px;
  border: 1px solid #735744;

  font-family: 'Alegreya Sans', sans-serif;
  font-size: 1em;
  font-style: normal;
  font-variant-caps: normal;
  line-height: normal;
  letter-spacing: normal;
  word-spacing: normal;
  text-transform: none;
  text-shadow: none;
  text-indent: 3px;
} 

.dropdown { 
  width: 120px; 
  margin-right: 70px; 
  padding: 5px;
  border: 1px solid #735744;
  background-color: white; 
  font-family: 'Alegreya Sans', sans-serif;
  font-size: 1em;
  text-indent: 3px;
} 

.dropdown:hover {
  background-color:snow;
}

.submit { 
  margin: 10px 0px; 
  display: grid;  
  grid-template-columns: 50% 45% 5%; 
} 

.submitbtn { 
  width: 100px; 
  margin: 15px;
  padding: 5px;
  float: left; 
  align-self: center; 

  background-color: darkgoldenrod; 
  border: 1px solid goldenrod;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px; 

  font-family: 'Alegreya Sans', sans-serif;
  color: white;  
  text-transform: uppercase; 
  font-size: 22px; 
  font-weight: bold; 
} 

.submitbtn:hover { 
  background:linear-gradient(#DCDCDC, navajowhite)
} 

.opera input[type="password"],
.webkit input[type="password"] {
  font: large Verdana,sans-serif;
  letter-spacing: 1px;
}