/*---------------------------------------------------------------------------------
Author:      Jesslyn Bui 
Project-15:  Grace Shopper - eCommerce  
----------------------------------------------------------------------------------*/

@import url('https://fonts.googleapis.com/css2?family=Dosis&display=swap');

.page { 
  margin: 0 50px; 
  display: grid; 
  grid-template-columns: 25% 25% 25% 25%; 
} 
.item { 
  display: flex;
  flex-direction: column;  
  flex-wrap: wrap; 
  justify-content: space-between; 
} 
.iimg { 
  width: 250px; 
  height: 250px; 
} 
.cbform { 
  display: block; 
  margin: 10px 10px 10px 20px; 
  line-height: 32px; 
  font-family: 'Dosis', sans-serif;
  color:  #735744;
}
.cbinp { 
  width: 50px;
  height: 25px; 
  margin: 0 0 0 5px; 
  padding: 5px; 
  border: 1px solid #735744; 
  border-radius: 3px; 

  line-height: normal; 
  font-size: 16px; 
} 
.cbbtn { 
  margin: 5px 5px 5px 10px; 
  padding: 10px; 

  background-color: darkgoldenrod; 
  border: 1px solid goldenrod; 
  border-radius: 3px; 
  color: white; 
  
  text-transform: uppercase; 
  font-weight: bold; 
} 
.cbbtn:hover { 
  padding: 7px; 

  color: rgb(39, 4, 4); 
  background-color:navajowhite; 

  border-radius: 3%; 
  border: 1px solid #ccc;
} 
