/*---------------------------------------------------------------------------------
Author:      Jesslyn Bui 
Project-15:  Grace Shopper - eCommerce  
----------------------------------------------------------------------------------*/

.orderpage { 
  grid-column: 2; 
  margin: 0; 
  padding: 0 0 50px 0; 
  display: grid; 
  grid-template-columns: 25% 25% 25%; 
  border-bottom: 1px solid #735744; 

  font-family: 'Alegreya Sans', sans-serif;
  /* box-sizing: border-box; */
} 
.item { 
  display: flex;
  flex-direction: column;  
  flex-wrap: wrap; 
  justify-content: space-between; 
} 
.iimg { 
  width: 250px; 
  height: 250px; 
} 
.orderform { 
  display: block; 
  margin: 10px 10px 10px 20px; 
  line-height: 32px; 
  font-family: 'Alegreya Sans', sans-serif;
  font-size: 22px; 
  color:  #735744;
}


