/*---------------------------------------------------------------------------------
Author:      Jesslyn Bui 
Project-15:  Grace Shopper - eCommerce  
----------------------------------------------------------------------------------*/

@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans&display=swap');

.shopcart {
  display: grid; 
}
.cartpage { 
  grid-row: 1; 
  margin: 0 50px; 
  padding: 0 0 50px 0; 
  display: grid; 
  grid-template-columns: 25% 25% 25% 25%; 
  border-bottom: 1px solid #735744; 

  font-family: 'Alegreya Sans', sans-serif;
  /* box-sizing: border-box; */
} 
.item { 
  display: flex;
  flex-direction: column;  
  flex-wrap: wrap; 
  justify-content: space-between; 
} 
.iimg { 
  width: 250px; 
  height: 250px; 
} 
.cartform { 
  display: block; 
  margin: 10px 10px 10px 20px; 
  line-height: 32px; 
  font-family: 'Alegreya Sans', sans-serif;
  font-size: 22px; 
  color:  #735744;
}
.cartinp { 
  margin: 5px 10px; 
  width: 60px;
  height: 30px;  
  padding: 5px; 
  border: 1px solid #735744; 
  border-radius: 3px; 

  line-height: normal; 
  font-family:Verdana, Geneva, Tahoma, sans-serif; 
  font-size: 20px; 
} 
.cartbtn { 
  margin: 5px 10px; 
  padding: 10px 15px; 

  background-color: darkgoldenrod; 
  border: 1px solid goldenrod; 
  border-radius: 3px; 
  color: white; 
  
  text-transform: uppercase; 
  font-size: 18px; 
  font-weight: bold; 
} 
.cartbtn:hover { 
  padding: 7px; 

  color: rgb(39, 4, 4); 
  background-color:navajowhite; 

  border-radius: 3%; 
  border: 1px solid #ccc;
}  
.checkoutdiv { 
  grid-row: 2;
  float: right; 
}
.cartsummary { 
  float: right; 
  margin: 50px; 
  width: 400px; 

  font-size: 22px; 
  line-height: 32px; 
  color:  #735744;
} 
.subtotal { 
  float: right; 
  margin-right: 50px;
  font-size: 24px; 
} 
.price { 
  float: right; 
  padding: 0 15px 0 5px; 
} 
.checkoutlink {  
  margin: 30px 0px 10px 0px; 
  width: 95%; 
  display: block;

  background-color:red; 
  border: 1px solid rgb(218, 32, 32); 
  border-radius: 3px; 
  color: white; 

  font-family: "ProximaNovaReg", sans-serif;
  font-size: 20px !important;
  text-transform: uppercase; 
  text-align: center;
  text-decoration: none; 
} 
.shoplink {  
  margin: 10px 0px; 
  width: 95%; 
  display: block;

  background-color: darkgoldenrod; 
  border: 1px solid goldenrod;
  border-radius: 3px; 
  color: white; 
  
  font-family: "ProximaNovaReg", sans-serif;
  font-size: 20px !important;
  text-transform: uppercase; 
  text-align: center;
  text-decoration: none; 
} 
.checkoutlink:hover .shoplink { 
  padding: 7px; 

  color: rgb(39, 4, 4); 
  background-color:navajowhite; 

  border-radius: 3%; 
  border: 1px solid #ccc;
}
