/*---------------------------------------------------------------------------------
Author:      Jesslyn Bui 
Project-15:  Grace Shopper - eCommerce  
----------------------------------------------------------------------------------*/


.thankyou { 
  margin: 100px; 

  font-family: 'Stylish', sans-serif !important;
  font-size: 24px;
  font-weight: normal; 
  line-height: 32px;
} 
